<!DOCTYPE html>
<html>
<head>
  <title>UrlShorten</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-narrow" style="margin:20px">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h3 class="muted">Url Shortner</h3>
    <h5 class="muted">Shorten any given url</h5>
  </div>
  <hr />
  <%= yield %>
</div>

</body>
</html>
